@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

:root{
    --bege: #D9C8A9;
    --marrom: #8B5E3C;
    --verde: #4A5E3E;
    --vermelho: #6E2A2A;
}

body{
    overflow-x: hidden;
    background: var(--bege);
}

h1, h2, p{
    text-align: center;
}


#home #c1{
    background-image: url("../assets/bg1.jpeg");
    background-color: hsla(0, 0%, 0%, .75);
    background-blend-mode: multiply;
    background-position: 70px;
    width: 100vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
#home #c1 h1{
    color: #fff;
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
    width: 25ch;
}
#home #c1 p{
    color: #fff;
    font-size: 20px;
    opacity: .75;
}

#overview{
    width: 100vw;
    padding: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
#overview h1{
    font-size: 40px;
    font-family: "Libre Baskerville", serif;
}
#overview #cards{
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 100px;
}
#overview #text1{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 150px;
}
#overview #text1 p{
    font-size: 25px;
    text-align: justify;
}
#overview #c2{
    text-align: center;
}
#overview #c4{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (max-width: 512px){
    #home #c1{
        background-position: -1500px;
        padding: 20px;
    }
    #home #c1 h1{
        max-width: fit-content;
        font-size: 35px;
    }

    #overview{
        padding: 70px 20px;
    }
    #overview #c4{
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    #overview #text1{
        padding: 20px;
    }
    #overview #cards{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #overview #cards .flip-card{
        width: 80vw;
    }
    #overview #cards .flip-card img{
        aspect-ratio: 4/3;
        width: 80vw;
    }
}